@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Pacifico&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css);

/* CSS files add styling rules to your content */

body {
    font-family: "Pacifico", cursive;

  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

nav 
{
    color: purple;
}
ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

nav ul li{
    float: left;
}
nav li a{
    display: block;
    color: violet;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav li a:hover{
    background-color: rgb(31, 44, 59);
  }
  
  div.content{
      width: 100%;
  }

h1{
    color: #794cb3bf;
}

h2
{
  color: #794cb3bf;
}